* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-color: #232a30 !important;
}

.form-div {
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh;
}
.form-div form {
  background-color: black;
  height: 300px;
  width: 300px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mb-3 {
  margin-top: 5px;
}
#eye-icon1,
#eye-icon2 {
  cursor: pointer;
}
