.profile-div {
  background-color: #212529;
}
.user-informations {
  background-color: #121517;
  height: 575px;
}
.img-profile img {
  margin-top: 10px;
  height: 130px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  z-index: 0;
}
.img-profile {
  display: grid;
  place-items: center;
}
.img-profile label {
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background-color: #111315;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
}
.under-profile-div {
  margin-top: 20px;
}
.user-informations {
  color: white;
}
.user-informations {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-informations ul {
  width: 100%;
  height: 10px;
}
.user-informations ul li {
  background-color: transparent !important;
  color: white;
}
.change-password {
  padding: 5px;
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  background-color: #212529 !important;
}
a {
  text-decoration: none;
}
